@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ficon:hover {
    filter: invert(79%) sepia(61%) saturate(464%) hue-rotate(130deg)
      brightness(89%) contrast(85%);
  }

  /* Hamburger Icon classes */

  /* Rules for the parent hamburger container */
  .hamburger {
    cursor: pointer;
    height: 24px;
    /* relative position since the children will be positioned as absolute */
    position: relative;
    transition: all 0.2s;
    width: 24px;
  }

  /* Rules for the children of the hambuarger container (lines) */
  /* they all start in the same position */
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    background: #9c9aa6;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(0);
    transition: all 0.5s;
    width: 24px;
  }

  /* Rules for the middle hamburger line */
  .hamburger-middle {
    /* push it 7px down */
    transform: translateY(7px);
  }

  /* Rules for the bottom hamburger line */
  .hamburger-bottom {
    /* push it 14px down */
    transform: translateY(14px);
  }

  /* Rules to apply to the parent hamburger container when the "open" class is active */
  .hamburger.open {
    transform: rotate(90deg);
  }

  /* Rules to apply to the top line of the hamburger icon when the "open" class is active */
  .hamburger.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }

  /* Rules to apply to the middle line of the hamburger icon when the "open" class is active */
  .hamburger.open .hamburger-middle {
    display: none;
  }

  /* Rules to apply to the bottom line of the hamburger icon when the "open" class is active */
  .hamburger.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }
}

#cta {
  background-image: url('../images/bg-boost-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  #cta {
    background-image: url('../images/bg-boost-desktop.svg');
  }
}
